body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:252px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:4px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:97px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 4px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 4px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 4px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:161px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
