body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:3px 4px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 4px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 4px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u49 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:37px;
  width:346px;
  height:114px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:57px;
  width:92px;
  height:19px;
  font-size:16px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:104px;
  width:165px;
  height:34px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:161px;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:51px;
  width:224px;
  height:32px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
